---
title: Publications from UCI CCNL
layout: default
group: publications
---

<h1>Publications</h1>
<br>
<hr>
<h3>Preprints</h3>
<br>
<b>Banavar NV</b>, <b>Bornstein AM</b>. <a href="https://psyarxiv.com/a8gz3/">Independent, not irrelevant: Trial order causes systematic misestimation of economic choice traits.</a> [<a href="/lab/static/data/2023a_bb_rxiv.pdf">pdf</a>]
<br><br>
<b>Harhen NC</b>, <b>Bornstein AM</b>. <a href="https://psyarxiv.com/42bwn/">Interval timing as a computational pathway from early life adversity to affective disorders.</a> [<a href="/lab/static/data/2023b_hb_rxiv.pdf">pdf</a>]
<br><br>
Hunter LE*, <b>Bornstein AM*</b>, Hartley CA. <a href="https://doi.org/10.1101/499707">A common deliberative process underlies model-based planning and patient intertemporal choice.</a> [<a href=/lab/static/data/2018_hbh_rxiv.pdf>pdf</a>]
<br><br>
<b>Noh SM</b>, Cooper KW, Stark CEL, <b>Bornstein AM</b>. <a href='https://psyarxiv.com/3mhj6/'>Multi-step inference can be improved across the lifespan with individualized memory interventions.</a> [<a href='https://aaron.bornstein.org/cv/pubs/2023_ncsb_rxiv.pdf'>pdf</a>]
<!-- Otto AR, Devine S, Schultz E, <b>Bornstein AM*</b>, Louie K*. Context-dependent choice and evaluation in real-world consumer behavior.
<br>  -->
<!-- <br>Rmus M, Ritz H, Hunter LE, <b>Bornstein AM*</b>, Shenhav A*. <a href="https://dx.doi.org/10.1101/723072">Humans can navigate complex graph structures acquired during latent learning.</a> [<a href=/lab/static/data/2021_rrhbs_rxiv.pdf>pdf</a>]
<br> 
<br> -->
<!-- <div class="row" style="padding-top: 60px; margin-top: -60px;"> -->
<hr>	
<h3>Peer-reviewed publications</h3>
<br>
<h4>2023</h4><br>
<b>Bornstein AM</b>, Aly M, Feng SF, Turk-Browne NB, Norman KA, Cohen JD (in press) <a href="https://dx.doi.org/10.1101/186817">Associative memory retrieval resolves anticipated uncertainty of upcoming perceptual decisions.</a> <i>Cognitive, Affective, & Behavioral Neuroscience.</i> [<a href=/lab/static/data/2022_baftnc_biorxiv.pdf>pdf</a>] [<a href=/lab/static/data/2017_baftnc_biorxiv_supp.pdf>supplement</a>] [<a href="https://openneuro.org/datasets/ds001614/versions/1.1.0">data</a>]
<br><br>
<b>Harhen NC</b>, <b>Bornstein AM</b> (2023). <a href='https://dx.doi.org/10.1073/pnas.2216524120'>Overharvesting in human patch foraging reflects rational structure learning and adaptive planning.</a> <i>Proceedings of the National Academy of Sciences</i>, 120(13):e2216524120.[<a href="/lab/static/data/2023a_hb_pnas.pdf">pdf</a>] [<a href='/lab/static/data/2023a_hb_pnas_supp.pdf'>supplement</a>] [<a href='https://github.com/noraharhen/Harhen-Bornstein-2023-Overharvesting-as-Rational-Learning'>code&data</a>] [<a href="/lab/static/data/2023a_hb_pnas_cover.tif">submitted cover</a> (<a href="https://somedonkey.work/">artist</a>)] <br><br> 
<hr>
<h4>2022</h4><br>
<!-- Wang S*, Feng SF, <b>Bornstein AM*</b> (2021). <a href="https://psyarxiv.com/5vksj">Mixing memory and desire: How dynamic reactivation of multiple memory representations guides decisions for reward.</a> <i>Wiley Interdisciplinary Reviews in Cognitive Science, e1581.</i> [<a href=/lab/static/data/2021_wfb_wires.pdf>pdf</a>]
<br><br> 
<b>Banavar NV</b>, Lee MD, Bornstein AM (2021). <a href="https://mathpsych.org/presentation/610">Sequential effects in non-sequential tasks.</a> <i>Proceedings of the 19th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2021_blb_iccm.pdf>pdf</a>]
<br><br> 
<b>Harhen NC</b>, <b>Bornstein AM</b> (2021). <a href="https://mathpsych.org/presentation/616">Structure learning as a mechanism of overharvesting. </a><i>Proceedings of the 19th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2021_hb_iccm.pdf>pdf</a>]
 <br><br> 
<b>Harhen NC</b>, Hartley CA, <b>Bornstein AM</b> (2021). <a href="https://escholarship.org/uc/item/9c33b182">Model-based foraging using latent-cause inference.</a><i> Proceedings of the 43rd Annual Conference of the Cognitive Science Society.</i> [<a href=/lab/static/data/2021_hhb_cs.pdf>pdf</a>] [<a href="https://github.com/uciccnl/CogSci2021-HarhenHartleyBornstein">code&data</a>]
<br><br>  -->
Otto AR, Devine S, Schultz E, <b>Bornstein AM*</b>, Louie K* (2022). <a href="https://doi.org/10.1038/s41598-022-22416-5"> Context-dependent choice and evaluation in real-world consumer behavior.</a> <i>Scientific Reports.</i> [<a href=/lab/static/data/2022_odsbk_rxiv.pdf>pdf</a>] [<a href="https://osf.io/ec5dx/">code&data</a>]
<br><br> 
<b>Khoudary A</b>, Peters MAK*, <b>Bornstein AM*</b> (2022). Precision-weighted evidence integration predicts time-varying influence of memory on perceptual decisions. <i>Cognitive Computational Neuroscience.</i> [<a href=/lab/static/data/2022_kpb_ccn.pdf>pdf</a>] [<a href="https://github.com/maria-khoudary/time-varying-precision-weighted-msddm">code</a>]
<br><br> 
<b>Banavar NV</b>, <b>Bornstein AM</b> (2022). <a href="https://mathpsych.org/presentation/907">Response time modeling provides stable and mechanistically interpretable measures of individual differences in behavioral pattern separation.</a> <i>Proceedings of the 20th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2022_bb_iccm.pdf>pdf</a>]
<br><br> 
<b>Harhen NC</b>, <b>Bornstein AM</b> (2022). <a href="https://mathpsych.org/presentation/843">Learning to expect change: Volatility during early experience alters reward expectations in a model of interval timing.</a> <i>Proceedings of the 20th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2022_hb_iccm.pdf>pdf</a>]
<br><br> 
Rmus M, Ritz H, Hunter LE, <b>Bornstein AM*</b>, Shenhav A* (2022). <a href="https://doi.org/10.1016/j.cognition.2022.105103">Humans can navigate complex graph structures acquired during latent learning.</a> <i>Cognition, 225:105103.</i> [<a href=/lab/static/data/2022_rrhbs_cognition.pdf>pdf</a>] [<a href=/lab/static/data/2022_rrhbs_cognition_supp.docx>supplement</a>]
<br><br> 
<b>Banavar NV</b>, <b>Bornstein AM</b> (2022). Decision difficulty modulates the re-use of computations across trials in non-sequential decision tasks. <i>Proceedings of the 5th Multidisciplinary Conference on Reinforcement Learning and Decision Making.</i> [<a href=/lab/static/data/2022_bb_rldm.pdf>pdf</a>]
<br><br> 
<b>Harhen NC</b>, <b>Bornstein AM</b> (2022). Humans adapt their foraging strategies and computations to environment complexity. <i>Proceedings of the 5th Multidisciplinary Conference on Reinforcement Learning and Decision Making.</i> [<a href=/lab/static/data/2022_hb_rldm.pdf>pdf</a>]
<br><br> 
<b>Yoo J</b>, <b>Bornstein AM</b> (2022). Two-stage task with increased state space complexity to assess online planning. <i>Proceedings of the 5th Multidisciplinary Conference on Reinforcement Learning and Decision Making.</i> [<a href=/lab/static/data/2022_yb_rldm.pdf>pdf</a>]
<br><br> 
<hr>
<h4>2021</h4><br>
Wang S*, Feng SF, <b>Bornstein AM*</b> (2021). <a href="https://wires.onlinelibrary.wiley.com/doi/full/10.1002/wcs.1581">Mixing memory and desire: How dynamic reactivation of multiple memory representations guides decisions for reward.</a> <i>Wiley Interdisciplinary Reviews in Cognitive Science, e1581.</i> [<a href=/lab/static/data/2021_wfb_wires.pdf>pdf</a>]
<br><br> 
<b>Banavar NV</b>, Lee MD, Bornstein AM (2021). <a href="https://mathpsych.org/presentation/610">Sequential effects in non-sequential tasks.</a> <i>Proceedings of the 19th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2021_blb_iccm.pdf>pdf</a>]
<br><br> 
<b>Harhen NC</b>, <b>Bornstein AM</b> (2021). <a href="https://mathpsych.org/presentation/616">Structure learning as a mechanism of overharvesting. </a><i>Proceedings of the 19th International Conference on Cognitive Modeling.</i> [<a href=/lab/static/data/2021_hb_iccm.pdf>pdf</a>]
 <br><br> 
<b>Harhen NC</b>, Hartley CA, <b>Bornstein AM</b> (2021). <a href="https://escholarship.org/uc/item/9c33b182">Model-based foraging using latent-cause inference.</a><i> Proceedings of the 43rd Annual Conference of the Cognitive Science Society.</i> [<a href=/lab/static/data/2021_hhb_cs.pdf>pdf</a>] [<a href="https://github.com/uciccnl/CogSci2021-HarhenHartleyBornstein">code&data</a>]
<br><br> 
<hr>
<h4>2020</h4><br>
Rouhani N, Norman KA, Niv Y, <b>Bornstein AM</b> (2020). <a href="https://dx.doi.org/10.1016/j.cognition.2020.104269">Reward prediction errors create event boundaries in memory.</a><i> Cognition, 203:104269.</i> [<a href=/lab/static/data/2020_rnnb_cognition.pdf>pdf</a>]
 <br><br> 
<b>Bornstein AM*</b>, Pickard H* (2020). <a href="https://dx.doi.org/10.1038/s41386-019-0594-2">Chasing the first high: Memory sampling in drug choice.</a> <i>Neuropsychopharmacology, 45(6):907-915.</i> [<a href=/lab/static/data/2020_bp_npp.pdf>pdf</a>] [<a href="https://www.nature.com/articles/s41386-020-0627-x">research highlight</a>]
<br><br> 
<hr>
<h4>2019</h4><br>
Kane GA, <b>Bornstein AM</b>, Shenhav A, Wilson RC, Daw ND, Cohen JD (2019). <a href="https://doi.org/10.7554/eLife.48429">Rats exhibit similar biases in foraging and intertemporal choice tasks.</a> <i>eLife, 8:e48429.</i> [<a href=/lab/static/data/2019_kbswdc_elife.pdf>pdf</a>]
<br><br>  
Millner AJ, den Ouden HEM, Gershman SJ, Glenn CR, Kearns J, <b>Bornstein AM</b>, Marx BP, Keane TM, Nock MK (2019). <a href="https://dx.doi.org/10.1037/abn0000395">Suicidal thoughts and behaviors are associated with an increased decision-making bias for active responses to escape aversive states.</a> <i>Journal of Abnormal Psychology, 128(2):106-118.</i>
<br><br> 
<hr>
<h4>2018 and before</h4><br>
Hoskin AN, <b>Bornstein AM</b>, Norman KA, Cohen JD (2018). <a href="https://dx.doi.org/10.3758/s13415-018-00674-z">Refresh my memory: Episodic memory reinstatements intrude on working memory maintenance.</a> <i>Cognitive, Affective, & Behavioral Neuroscience, 19:338-354.</i> [<a href=/lab/static/data/2018_hbnc_cabn.pdf>pdf</a>] [<a href=/lab/static/data/2018_hbnc_cabn_supp.pdf>supplement</a>] [<a href="https://openneuro.org/datasets/ds001576/">data</a>]
<br><br>  
<b>Bornstein AM</b>, Khaw MW, Shohamy D, Daw ND (2017). <a href="https://dx.doi.org/10.1038/ncomms15958">Reminders of past choices bias decisions for reward in humans.</a> <i>Nature Communications, 8:15958.</i> [<a href=/lab/static/data/2017_bksd_nc.pdf>pdf</a>] [<a href=/lab/static/data/2017_bksd_nc_supp.pdf>supplement</a>] [<a href="http://rdcu.be/tKn0">news & views</a>]
<br><br> 
<b>Bornstein AM</b>, Norman KA (2017). <a href="https://dx.doi.org/10.1038/nn.4573">Reinstated episodic context guides sampling-based decisions for reward.</a> <i>Nature Neuroscience, 20:997-1003.</i> [<a href="/lab/static/data/2017_bn_nn.pdf">pdf</a>] [<a href="/lab/static/data/2017_bn_biorxiv_supp.pdf">supplement</a>] [<a href="http://rdcu.be/tKn0">news & views</a>] [<a href="https://openneuro.org/datasets/ds001607/">data</a>]
<br><br>  
Kane GA, <b>Bornstein AM</b>, Shenhav A, Wilson RC, Daw ND, Cohen JD (2017). <a href="https://mindmodeling.org/cogsci2017/papers/0128/paper0128.pdf">Mechanisms of overharvesting in patch foraging.</a> <i>Proceedings of the 39th Annual Conference of the Cognitive Science Society, 637-642.</i> [<a href=/lab/static/data/2017_kbswdc_cs.pdf>pdf</a>]
<br><br>  
<b>Bornstein AM</b>, Daw ND (2013). <a href="http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1003387">Cortical and hippocampal correlates of deliberation during model-based decisions for rewards in humans.</a><i> PLoS Computational Biology, 9(12):e1003387.</i> [<a href=/lab/static/data/2013_bd_ploscb.pdf>pdf</a>] [<a href=/lab/static/data/2013_bd_ploscb_supp.zip>supplement</a>]
<br><br>  
<b>Bornstein AM</b>, Daw ND (2012). <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1460-9568.2011.07920.x/full">Dissociating hippocampal and striatal contributions to sequential prediction learning.</a><i> European Journal of Neuroscience, 35:1011-1023.</i> [<a href=/lab/static/data/2012_bd_ejn.pdf>pdf</a>] [<a href=/lab/static/data/2012_bd_ejn_supp.pdf>supplement</a>]
<br><br>  
<b>Bornstein AM</b>, Daw ND (2011). <a href="http://www.sciencedirect.com/science/article/pii/S0959438811000365">Multiplicity of control in the basal ganglia: Computational roles of striatal subregions.</a> <i>Current Opinion in Neurobiology, 21(3):374-380.</i> [<a href=/lab/static/data/2011_bd_coin.pdf>pdf</a>]
<br><br> 
Preston AR, <b>Bornstein AM</b>, Hutchinson JB, Gaare ME, Glover GH, Wagner AD (2010). <a href="http://www.mitpressjournals.org/doi/abs/10.1162/jocn.2009.21195">High-resolution fMRI of content-sensitive subsequent memory responses in human medial temporal lobe.</a> <i>Journal of Cognitive Neuroscience, 22:156-173.</i>
<br><br>  
Floares A, Jakary A, <b>Bornstein AM</b>, Deicken R (2006). <a href="http://ieeexplore.ieee.org/document/1716739/">Neural networks and Classification and Regression Trees are able to distinguish females with major depression from healthy controls using neuroimaging data.</a><i> Proceedings of the IEEE International Joint Conference of Neural Networks, 2006, 4605-4611.</i>
<br><br> 
<hr>
<h4>Commentaries</h4>
<br>
<b>Bornstein AM*</b>, Constantino SM* (2017). Nudge back: Towards a taxonomy of scientific rationalities. London Conference in Critical Thought. [<a href=/lab/static/data/2017_bc_lcct_abstract.pdf>abstract</a>]
<br><br>  
<b>Bornstein AM</b>, Miller KJ, Shenhav A (2015). <a href="http://onlinelibrary.wiley.com/doi/10.1111/ejn.12906/full">Walking bundles of habits (and Response-Outcome associations).</a> <i>European Journal of Neuroscience, 41:1356-1357.</i> [<a href=/lab/static/data/2015_bsm_ejn.pdf>pdf</a>]
<br><br>  
Wallisch P, <b>Bornstein AM</b> (2013). <a href="http://www.jneurosci.org/content/33/37/14631.full">Enhanced motion perception as a psychophysical marker for autism?</a> <i>Journal of Neuroscience, 33(37):14631-14632.</i> [<a href=/lab/static/data/2013_wb_jn.pdf>pdf</a>]
<br><br>  
<b>Bornstein AM</b>, Nylen EL, Steele SA (2011). <a href="http://www.jneurosci.org/content/31/28/10117.full">Unblocking the neural substrates of model-based value.</a> <i>Journal of Neuroscience, 31(28):10117-10118.</i> [<a href=/lab/static/data/2011_bns_jn.pdf>pdf</a>]
<br><br> 
<hr>
<h3>Unpublished</h3>
<br>
<b>Bornstein AM</b>, Shvartsman M (2015). <a href="https://aaron.bornstein.org/lab/cv/pubs/2015_bs_jn_rejected.pdf">Distinguishing between descriptive and rational approaches to collapsing decision bounds.</a> [<a href=/lab/static/data/2015_bs_jn_rejected.pdf>pdf</a>]
<br><br> 
<b>Bornstein AM</b>, Constantino SM (2012). <a href="https://aaron.bornstein.org/lab/cv/pubs/2012_bc_jn_rejected.pdf">The temporal dynamics of value-based decisions in humans.</a> [<a href=/lab/static/data/2012_bc_jn_rejected.pdf>pdf</a>]
<br><br> 
<!-- <div class="container-fluid">

{% for publication in site.publications reversed %}
<hr>
<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
<div><h5>{{ publication.title | markdownify }}</h5><br>
{{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}
{% if publication.journal %}
<i>{{ publication.journal }}.</i>
{{publication.pub_date | split: "-" | first }}.</div>
{% else %}
<i>Submitted - Preprint on Biorxiv.</i>
{% if publication.biorxiv %}
{{publication.biorxiv | split: "." | first }}.</div>
{% else %}
{{publication.biorxiv_version | split: "." | first }}.</div>
{% endif %}
{% endif %}

</div>

<div class="row" style="padding-top: 20px; margin-top: -20px">
	<div class="col-sm-6">
		<img class = "img-fluid" src = "{{publication.image}}" alt = "Key Figure" style="max-height: 200px;">
	</div>
	<ul class="col-sm-6">
		<br>
		<h6>Access the paper</h6>
		<!--PMID-->
		{% if publication.pmid %}
		<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a></li>
		{% endif %}

		<!--PMCID - optional -->
		{% if publication.pmcid %}
		<li>PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{publication.pmcid}}" alt = "pubmed central link: {{publication.pmcid}}"> {{publication.pmcid}}</a></li>
		{% endif %}

		<!--Biorxiv - optional -->
		{% if publication.biorxiv %}
		<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" alt = "biorxiv preprint link: {{publication.biorxiv}}"> {{publication.biorxiv | split: "." | last }}</a></li>
		{% endif %}

		<!--Biorxiv specific version-->
		{% if publication.biorxiv_version %}
		<li>Biorxiv Preprint v{{publication.biorxiv_version | split: "." | last | split: "v" | last }}: <a href="http://www.biorxiv.org/content/10.1101/{{publication.biorxiv_version}}" alt = "biorxiv preprint link: {{publication.biorxiv_version}}">{{publication.biorxiv_version | split: "." | last | split: "v" | first }}</a></li>
		{% endif %}

		<!--Arxiv - optional -->
		{% if publication.arxiv %}
		<li>arXiv Preprint: <a href="https://arxiv.org/abs/{{publication.arxiv}}" alt = "arxiv preprint link: {{publication.arxiv}}"> {{publication.arxiv}}</a></li>
		{% endif %}

		<!--Chemrxiv - optional -->
		{% if publication.chemrxiv %}
		<li>ChemRxiv Preprint: <a href=" https://doi.org/10.26434/chemrxiv.{{publication.chemrxiv}}" alt = "chemrxiv preprint link: {{publication.chemrxiv}}"> {{publication.chemrxiv}}</a></li>
		{% endif %}

		<!-- PDF -->
		{% if publication.journal %}
		<li><a href="{{publication.pdf}}" alt = "PDF"> Full Text</a></li>
		{% endif %}

		<!-- SBGrid Datasets - optional -->
		{% if publication.data %}
		<li>Online Dataset{% if publication.data.size > 1 %}s{% endif %}:
			{% if publication.data.size > 1 %}
			<ul>
				{% for dataset in publication.data %}
				<li><a href="http://dx.doi.org/{{dataset}}" alt = "sbgrid data repository">doi:{{dataset}}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<a href="http://dx.doi.org/{{publication.data}}" alt = "sbgrid data repository">doi:{{publication.data}}</a>
			{% endif %}
		</li>
		{% endif %}

		<!--PDBs - optional-->
		{% if publication.pdbs %}
		<li>Deposited Structure{% if publication.pdbs.size > 1 %}s{% endif %}:
			{% for code in publication.pdbs %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{code}}">{{code}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--EMDBs - optional-->
		{% if publication.emdbs %}
		<li>Deposited Map{% if publication.emdbs.size > 1 %}s{% endif %}:
			{% for code in publication.emdbs %}
			<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{code}}">{{code}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--pairs of maps and models - optional-->
		{% if publication.paired_maps_and_models %}
		<li>Deposited Structure{% if publication.paired_maps_and_models.size > 1 %}s{% endif %} and Map{% if publication.paired_maps_and_models.size > 1 %}s{% endif %}:
			{% for pair in publication.paired_maps_and_models %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}">{{pair.emdb}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--maps and models and datasets - optional-->
		{% if publication.paired_maps_and_models_and_data %}
		<li>Deposited Structure{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, Map{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, and Data set{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}:
			{% for pair in publication.paired_maps_and_models_and_data %}
			<a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}">{{pair.emdb}}</a>/<a href="https://empiar.org/{{pair.empiar}}/">{{pair.empiar}}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--zenodo records - optional-->
		{% if publication.zenodo %}
		<li>Zenodo Record{% if publication.zenodo.size > 1 %}s{% endif %}:
			{% for record in publication.zenodo %}
			<a href="https://www.zenodo.org/record/{{record.code}}/">{{record.code}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--Github - optional-->
		{% if publication.github %}
		<li>{% if publication.github.size > 1 %}GitHub Repositories:{%else%}GitHub Repository:{% endif %}
			{% for record in publication.github %}
				<a href="https://www.github.com/{{record.url}}/">{{record.url}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!-- addgene plasmid - optional -->
		{% if publication.addgene %}
		<li>Addgene Plasmid{% if publication.addgene.size > 1 %}s{% endif %}:
			{% for record in publication.addgene %}
				<a href="https://www.addgene.org/{{record.plasmid}}/">{{record.plasmid}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		</li>
		{% endif %}

		<!--additional links - optional-->
		{% if publication.links %}
			<br>
			<h6>Additional Link{% if publication.links.size > 1 %}s{% endif %}</h6>
			{% for link in publication.links %}
				<li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
</div>
<br>
{% endfor %}
</div> -->
